@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h1>@ViewBag.Name</h1>

<br />
<div class="row m-1">
    <div class="col-2">
        <table>
            <tr>
                @if (ViewBag.Name == "All Bowlers")
                {
                    <td><a asp-controller="Home" asp-action="Index" class="btn btn-primary font-weight-bold">All Bowlers</a></td>
                }
                else
                {
                    <td><a asp-controller="Home" asp-action="Index" class="btn btn-secondary font-weight-bold">All Bowlers</a></td>
                }
            </tr>
            @foreach (Team t in ViewBag.Teams)
            {
        <tr>
            @if (t.TeamName == ViewBag.Name)
            {
                <td>
                    <a asp-controller="Home" asp-action="TeamView" asp-route-TeamName="@t.TeamName"
                       class="btn btn-primary">@t.TeamName</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-controller="Home" asp-action="TeamView" asp-route-TeamName="@t.TeamName"
                       class="btn btn-secondary">@t.TeamName</a>
                </td>
            }
        </tr>
            }
        </table>
    </div>
    <div class="col-9">
        <div class="container">
            <main role="main" class="pb-3">
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>BowlerID</td>
                            <td>First Name</td>
                            <td>M.I.</td>
                            <td>Last Name</td>
                            <td>Address</td>
                            <td>City</td>
                            <td>State</td>
                            <td>Zip</td>
                            <td>Phone Number</td>
                            <td>Team</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var b in Model)
                        {
                            <tr>
                                <td>@b.BowlerID</td>
                                <td>@b.BowlerFirstName</td>
                                <td>@b.BowlerMiddleInit</td>
                                <td>@b.BowlerLastName</td>
                                <td>@b.BowlerAddress</td>
                                <td>@b.BowlerCity</td>
                                <td>@b.BowlerState</td>
                                <td>@b.BowlerZip</td>
                                <td>@b.BowlerPhoneNumber</td>
                                @*<td>@b.Team.TeamName</td>*@
                                <td><a asp-controller="Home" asp-action="TeamView" asp-route-TeamName="@b.Team.TeamName">@b.Team.TeamName</a></td>
                                <td><a class="btn btn-warning" asp-controller="Home" asp-action="Edit" asp-route-BowlerID="@b.BowlerID">Edit</a></td>
                                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-BowlerID="@b.BowlerID">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </main>
        </div>
        <a class="btn btn-primary" asp-controller="Home" asp-action="NewBowler">Add Bowler</a>
    </div>
</div>

